$color-white: #fff;
$color-black: #0000;
$color-icon-active: #018980;
$color-icon-inactive: #8c8c8c;
$color-icon-hover: #8c8c8ccc;
$color-order-undelivered: #f44336;
$color-order-delivered: #bbbbbb;
$color-btn: #e83e1b;
$color-btn-hover: #f56446;
